aws_region       = "us-east-1"
domain_name      = "insolvia.ai"
subdomain        = "staging-app.insolvia.ai"
api_subdomain    = "staging-api.insolvia.ai"
mailer_subdomain = "staging-mailer-api.insolvia.ai"
marketing_subdomain = "staging-www.insolvia.ai"
